[user]
 #email = odcinek@gmail.com
  email = odcinek@fb.com
  name = Marcin Sawicki
[push]
  default = matching
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red
  new = cyan
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[include]
  path = ~/.gitconfig_local
[alias]
  lg = ! git log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit | egrep -v -i -e 'twsvcscm|svcscm|autocommit' | less -R -+F -+
  br = !sh -c \"git branch | ~/bin/features\"
[core]
	pager = less -+F -+X -R
